<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yidu.lly.mapper.ArticleMapper" >

<resultMap type="com.yidu.lly.model.Article" id="articleList">  
                <result property="aid" column="aid"/>  
                <result property="articlename" column="articlename"/>  
                <result property="articletime" column="articletime"/>  
                 <result property="articlecontent" column="articlecontent"/>  
                <result property="uid" column="uid"/>  
                <result property="articleread" column="articleread"/>  
                <result property="aimgaddress" column="aimgaddress"/> 
        </resultMap>
        
        <resultMap type="com.yidu.lly.model.SaveArticle" id="savearticleList">  
                <result property="id" column="id"/>  
                <result property="articlename" column="articlename"/>  
                 <result property="articlecontent" column="articlecontent"/>  
                <result property="uid" column="uid"/>  
                <result property="type" column="type"/>  
          
        </resultMap>
        
        
        


  <insert id="insertArticle" parameterType="com.yidu.lly.model.Article">
  	insert into article(aid,articlename,articletime,articlecontent,uid,articleread,aimgaddress)
  		values(#{aid},#{articlename},#{articletime},#{articlecontent},#{uid},#{articleread},#{aimgaddress})
  </insert>
  <select id="showArticle" resultType="com.yidu.lly.model.Article">
  	select * from article limit 0,2
  </select>
  
  <select id="showArticleId" parameterType="int" resultType="com.yidu.lly.model.Article">
  	select * from article where aid=#{aid}
  </select>
  
  <select id="selectArticle" parameterType="int" resultMap="articleList">
  	select * from article where uid=#{uid}
  </select>
  
    
  <select id="selectMysaveArticle" parameterType="int" resultMap="savearticleList">
  	select * from savearticle where uid=#{uid}
  </select>
  
 <insert id="saveArticle" parameterType="com.yidu.lly.model.SaveArticle" useGeneratedKeys="true" keyProperty="id"  keyColumn="id">
    insert into savearticle(type,uid) values(#{type},#{uid})
  </insert>
    <delete id="deletesaveArticle" parameterType="int">  
  delete from savearticle where id=#{id} 
      
</delete> 
 
  <select id="selectsaveArticle" parameterType="int" resultType="com.yidu.lly.model.SaveArticle">
  	select * from savearticle where id=#{id}
  </select>
 
   <update id="updateSaveAticle" parameterType="com.yidu.lly.model.SaveArticle" >
 update savearticle set articlename=#{articlename},articlecontent=#{articlecontent} where id=#{id}
</update>
 
 
  </mapper>