<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yidu.lly.mapper.CollectionMapper" >
	<insert id="addCollection"  parameterType="com.yidu.lly.model.Collection">
		insert into collection(cid,collectionname,collectionintroduce,uid,collectionimg)
		 value(#{cid},#{collectionname},#{collectionintroduce},#{uid},#{collectionimg})
	</insert>
	<select id="showCollection" parameterType="int" resultType="com.yidu.lly.model.Collection">
		select * from collection where cid=#{cid} 
	</select>
	<update id="updateCollection" parameterType="com.yidu.lly.model.Collection">
		update collection set collectionname=#{collectionname},
		collectionintroduce=#{collectionintroduce},collectionimg=#{collectionimg} where cid=#{cid} and uid=#{uid}
	</update>
</mapper>
