<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yidu.lly.mapper.CommentMapper" >

<resultMap type="com.yidu.lly.model.ComReply" id="ComReplyList">  
                <result property="id" column="id"/>  
                <result property="comid" column="comid"/>  
                <result property="replyuid" column="replyuid"/>  
                 <result property="replytime" column="replytime"/>  
                <result property="replycotent" column="replycotent"/>  
        </resultMap>
  <insert id="insertComment" parameterType="com.yidu.lly.model.Comment">
  	insert into Comment(comid,comtext,comtime,comuserid,comarid)
  		values(#{comid},#{comtext},#{comtime},#{comuserid},#{comarid})
  </insert>
  <select id="showComment" parameterType="int" resultType="com.yidu.lly.model.Comment">
  	select * from comment where comarid=#{comarid}
  </select>
  
  <select id="selectountComent" parameterType="int" resultType="int">
  	select count(*) from comment where comarid=#{comarid}
  </select>
  
   <insert id="insertComReply" parameterType="com.yidu.lly.model.ComReply">
  	insert into replycom(comid,replyuid,replycotent)
  		values(#{comid},#{replyuid},#{replycotent})
  </insert>

  <select id="selectReplyComent" resultMap="ComReplyList">
  	select * from replycom 
  </select>
	<delete id="delComment" parameterType="int">
		 delete from comment where comid=#{comid} 
	</delete>
	<delete id="delreply" parameterType="int">
		delete from replycom where comid=#{comid}
	</delete>
  </mapper>