<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yidu.lly.mapper.FriendMapper" >


<resultMap type="com.yidu.lly.model.Friend" id="friendList">  
                <result property="id" column="id"/>  
                <result property="mid" column="mid"/>  
                <result property="fid" column="fid"/>  
        </resultMap>  
  <select id="selectFriend" parameterType="com.yidu.lly.model.User" resultMap="friendList">
  	select * from friend where fid=#{uid} 
  </select>
  
   <select id="selectMyFans" parameterType="com.yidu.lly.model.User" resultMap="friendList">
  	select * from friend where mid=#{uid} 
  </select>
  
  <delete id="delFriend" parameterType="com.yidu.lly.model.Friend">  
  delete from friend where mid=#{mid} and fid=#{fid}
      
</delete> 
  
  
 <select id="selectmyFriend" parameterType="com.yidu.lly.model.Friend" resultType="com.yidu.lly.model.Friend">
  	select * from friend where mid=#{mid} and fid=#{fid}
  </select>
  
  <insert id="insertFriend" parameterType="com.yidu.lly.model.Friend">
  	insert into friend(mid,fid)
  		values(#{mid},#{fid})
  </insert>
  
  
<!--  <update id="updateFriend" parameterType="com.yidu.lly.model.Friend" >
 update user set user introduce=#{userintroduce} where username=#{username} and password=#{password}
</update> -->

  </mapper>